.banner-part{

    .banner-slider{
        // padding: 65px 0;
        position: relative;
        display: flex;
        height: 100vh;
        // &:before{
        //     content: '';
        //     display: block;
        //     height: 100vh;
        // }
        .slick-track{
            height: 100%;
            display: flex !important;
        }

        .slick-slide{
            position:relative;
            height: auto;
            @include flex(wrap,center,center);
        }

        .bg-strech{
            &:after{
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: #bf3d42;
                mix-blend-mode: darken;
                pointer-events: none;
            }
        }
    }


}

.banner-content{
    position: relative;
    max-width: 500px;
    z-index: 9;
    color: white;
    text-align: center;

    p{
        margin: 0 0 25px 0;
    }

    
    h1{
        color: #fff;
    }
}



.about-part{
    padding: 50px 0;
    @include media('>=desktop'){
        padding: 120px 0;
    }
    p{
        margin: 0;
    }
    .image-wrap{
    position: relative;
    padding-top: 61%;
    border-radius: 25px;
    overflow: hidden;
    }

    .btn-wrap{
        margin-top: 60px;
    }
    
    .two-columns{
        .small-col{
            order: 0;
            @include media(">=tablet"){
                order: 1;
            }
        }
        .large-col{
            order: 1;
            @include media(">=tablet"){
                order: 0;
            }
        }
    }
}

.products-part{
    text-align: center;

    h2{
        line-height: 1;
        margin-bottom: 17px;
    }

    p{
        margin: 0 0 15px;
    }

    .four-columns{
        padding: 40px 0;
    }

    .style::after{
        top: -6px;
    }

    .product-detail{
        background-color: #121212;
        border-radius: 23px;
        color: #fff;
        font-family:'Poppins', sans-serif;

        h3{
            margin-bottom: 20px;
            color: #fff;
        }
    }
    .col{
        .product-image{
            height: 400px;
            position: relative;
            @include flex(wrap,center,center)
        }

        &:nth-child(2){
            .product-image{
                height: 305px;
            }
        }
        &:nth-child(3){
            .product-image{
                height: 250px;
            }
        }
        &:nth-child(4){
            .product-image{
                height: 182px;
            }
        }
    }

    .product-content{
        padding: 0 20px 30px;
        font-size: 14px;
        line-height: 1.57;

        .product-code{
            @include size(62px);
            background-color: #000;
            border-radius: 50%;
            font-size: 25px;
            border: 2px solid #b03d42;
            line-height: 62px;
            text-align: center;
            margin: -30px auto 13px;
            position: relative;
            z-index: 9;
        }
    }
    
    

    .button-wrap{
        padding: 15px 0;
    }

    // .btn{
    //     text-transform: capitalize;
    // }

    // .btn{

    //     &.primary{
    //         border-color: #b03d42;
    //     }
    // }
    
}


.process-part{
    background-color: $dark-black;
    text-align: center;
    color: $white;
    padding: 100px 0;

    .container{
        max-width: 1007px;
    }


    h2{
        color: $white;
    }

    .heading-wrap{
        max-width: 940px;
        margin: 0 auto 85px;
    }

    .icon-wrap{
        border: 1px solid $white;
        border-radius: 9px;
        height: 140px;
        @include flex(wrap,center,center);  //mixin used
        margin-bottom: 22px;
    }

    .process-text{
        @include align-vertical(top);  //mixin used
        font-size: 20px;
    }

    .four-columns{
        margin: 0 -31px 80px;
        .col{
            padding: 0 31px;
        }
    }

    .btn{
        text-transform: capitalize;
    }
}

.feedback-part{
    text-align: center;
    padding: 100px 0;
    .feedback-img{
        @include size(158px);
        margin: 0 auto;
        border-radius: 50%;
        border: 2px solid $red;
        overflow: hidden;
    }

    // img{
    //     object-fit: cover;
    //     height: 100%;
    //     width: auto;
    // }

    .cite{
        font-size: 19px;
        line-height: 1.57;
        text-transform: capitalize;
        display: block;
        font-style: normal;
    }

    q{
        quotes: none;
        display: inline-block;
        vertical-align: top;
    }

    .slick-arrow{
        font-size: 52px;
        color: $red;
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        &.slick-next{
            right: 0;
        }
        &.slick-prev{
            left: 0;
        }
        i{
            @include animate(color,0.35s,linear)
        }

        
        &:hover{
            i{
                color:darken($color: $red, $amount: 10%); 
            }
        }
    }

    .feedback-slider{
        padding:  0 60px;
    }
}


.slick-dots{
    @extend %listreset;
    position: absolute;
    bottom: 72px;
    display: flex;
    left: 0;
    right: 0;
    @include flex(wrap,center,center);
    li{
        padding: 0 2px 0 3px;

        &.slick-active{

            button{
                background-color: transparent;
                @include size(26px);
            }
        }
    }

    button{
        padding: 0;
        display: block;
        @include hide-text;
        background-color: #f9f9fb;
        border-radius: 50%;
        @include size (18px);
        border: 3px solid #f9f9fb;
        @include animate(all, 0.35s,ease);
        &:hover{
            background-color: transparent;
            @include size(26px);
        }
    }
}